<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Weather App</title>
</head>
<body>
    <div id="content">
        <div id="top-banner">

        </div>

        <h1>Da Weather</h1>
    
        <div id="searchDiv" class="flex-row-between">
            <label for="searchInput">Enter Location:</label>
            <input type="text" id="searchInput" name="searchInput" required>
            <button id="searchButton">Search</button>
        </div>   
        
        <div id="weatherContainer" class="flex-col-centre">            
                   
        </div>
        
    </div>   
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>